<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{% url 'tarefas:adicionar' %}">adiconar tarefas</a>
    
<h1>Hey there are your tasks!</h1>
<h2>{{nome}}now you are the home of tarefas</h2>
<h3>omg this is so cool</h3>
<h4>web-coding the best</h4>
<h5>viva django!</h5>
<h6>ora!ora!ora!ora!ora!</h6>

<style>
a{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


</style>

</body>
</html>